.border {
  border: 1px solid black;
}
.title {
  background-color: gainsboro;
  text-align: left;
  padding: 0.1rem;
}
.title-text {
  margin-top: 1rem;
}
.search-box {
  display: block;
  margin-bottom: 1rem;
}
.footer {
  margin-top: 9rem;
}
